---
services:
  2jciebu-exporter:
    image: vet5lqplpecmpnqb/2jciebu-exporter
    build:
      context: .
    env_file:
      - .env
    deploy:
      restart_policy:
        condition: on-failure
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    restart: always
    ports:
      - 127.0.0.1:$SERVER_HTTP_PORT:$SERVER_HTTP_PORT
